&i2c1_scl_pb2 {
	input-enable;
};

&i2c1_sda_pb3 {
	input-enable;
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb2 &i2c1_sda_pb3>;
	pinctrl-names = "default";
	merge-buf-size = <64>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	lp5810: lp5810@6c {
		compatible = "ti,lp5810";
		reg = <0x6c>;
	};
};

&uart0 {
	current-speed = <115200>;
	clocks = <&ckm MSPM0_CLOCK_ULPCLK>;
	pinctrl-0 = <&uart0_tx_pa10 &uart0_rx_pa11>;
    status = "okay";
};