/*
 * Copyright (c) 2026 Texas Instruments Incorporated
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

#include <freq.h>

&hfxt {
	status = "okay";
};

&hfclk {
	clocks = <&hfxt>;
	status = "okay";
};
