/*
 * Copyright (c) 2026 Texas Instruments
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/i2c/i2c.h>

&waveshare_3_5_rpi_lcd_f_mipi_dbi {
	dc-gpios    = <&gpiob 7 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
	spi-dev     = <&spi0>;
};

/ {
	display_backlight: display-backlight {
		compatible = "regulator-fixed";
		regulator-name = "display-backlight";
		enable-gpios = <&gpioa 16 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
	};
};

&spi0 {
	status = "okay";
};

/*
 * GT911 on native I2C0 (PA0=SDA / PA1=SCL). This bus has the board's populated
 * 2.2k pull-ups (jumpers J16/J17). PB2/PB3 (i2c1) has no pull-ups and PB3 is
 * tied to the S2 button by J23, so i2c0 is used instead. i2c0 driver support
 * comes from the cherry-picked PR #117311.
 */
&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_sda_pa0 &i2c0_scl_pa1>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	gt911_touch: gt911@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		alt-addr = <0x14>;
		irq-gpios   = <&gpioa 13 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpiob 14 GPIO_ACTIVE_LOW>;
		screen-width  = <320>;
		screen-height = <480>;
	};
};

&flash0 {
	reg = <0x0 DT_SIZE_K(512)>;
};

&sram1 {
	compatible = "zephyr,memory-region", "mmio-sram";
	zephyr,memory-region = "LVGL_BUF";
};
